In [1]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\zip-b\appdata\local\programs\python\python311\lib\site-packages (2.0.23)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\zip-b\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\zip-b\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import sqlalchemy
print(sqlalchemy.__version__)

2.0.23

DBデータ取得

In [8]:
import json
from sqlalchemy import create_engine, text

# データベースエンジンの作成
engine = create_engine('sqlite:///Cheers_DB.db')   #///以降に各自Cheers_DB.dbの置いた場所を設定下さい！
connection = engine.connect()

# SQLクエリの実行
result = connection.execute(text("SELECT * FROM users"))

# 結果を辞書のリストとして取得
rows = [{column: value for column, value in zip(result.keys(), row)} for row in result]

# JSON形式に変換（非ASCII文字をエスケープしない）
json_result = json.dumps(rows, ensure_ascii=False, indent=4)

# JSON形式の結果を出力
print(json_result)

# コネクションのクローズ
connection.close()

[
    {
        "user_id": 1,
        "user_name": "中村剛",
        "mail_address": null,
        "password": "0",
        "company": "ピタゴラ不動産",
        "working_area": "大阪",
        "last_update": "2023-12-28"
    },
    {
        "user_id": 2,
        "user_name": "三村和香",
        "mail_address": null,
        "password": "0",
        "company": "ピタゴラ不動産",
        "working_area": "大阪",
        "last_update": "2023-12-28"
    },
    {
        "user_id": 3,
        "user_name": "寺尾真二",
        "mail_address": "tear0mark2@gmail.com",
        "password": "0",
        "company": "ピタゴラ不動産",
        "working_area": "大阪",
        "last_update": "2023-12-28"
    },
    {
        "user_id": 4,
        "user_name": "本橋",
        "mail_address": null,
        "password": "0",
        "company": "ピタゴラ不動産",
        "working_area": "大阪",
        "last_update": "2023-12-28"
    },
    {
        "user_id": 5,
        "user_name": "川名功泰",
        "mail_address": "",
        "password": "0000",
        "company": "セイコーエプソン",
        "working_area": "長野",
        "last_update": "2023-12-30 16:32:50.103532"
    },
    {
        "user_id": 6,
        "user_name": "坂口綾香",
        "mail_address": "",
        "password": "0000",
        "company": "コクヨ",
        "working_area": "東京都品川区",
        "last_update": "2023-12-30 16:32:50.103532"
    }
]

guests Tableにデータ追加

In [7]:
from sqlalchemy import create_engine, text
from datetime import datetime

now = datetime.now()

# データベースエンジンの作成
engine = create_engine('sqlite:///Cheers_DB.db')

# データベースに接続
with engine.connect() as connection:
    # トランザクションの開始
    trans = connection.begin()

    try:
        # データの挿入
        connection.execute(text("""
            INSERT INTO guests (
                guest_id,
                guest_name,
                guest_class,
                user_id,
                guest_category1,
                guest_category2,
                guest_category3,
                guest_memo,
                last_update
            ) VALUES (
                :guest_id,
                :guest_name,
                :guest_class,
                :user_id,
                :guest_category1,
                :guest_category2,
                :guest_category3,
                :guest_memo,
                :last_update
            )"""),
            [{"guest_id": 1,
              "guest_name": "濱田隼斗",
              "guest_class": "CEO",
              "user_id": 3,
              "guest_category1": "鮨",
              "guest_category2": "焼肉",
              "guest_category3": " ",
              "guest_memo": "飲み会大好きです！",
              "last_update": now
             },
             {"guest_id": 2,
              "guest_name": "鍵冨康太郎",
              "guest_class": "CFO",
              "user_id": 3,
              "guest_category1": " ",
              "guest_category2": " ",
              "guest_category3": " ",
              "guest_memo": "ローマが好きなので、きっとイタリアン好きだと思う",
              "last_update": now
             }]
        )

        # トランザクションのコミット
        trans.commit()
        print("データの挿入に成功しました。")
    except Exception as e:
        # 何か問題が発生した場合、トランザクションをロールバック
        trans.rollback()
        print(f"エラーが発生しました: {e}")

データの挿入に成功しました。

events Tableにデータ追加

In [12]:
from sqlalchemy import create_engine, text
from datetime import datetime

now = datetime.now()

# データベースエンジンの作成
engine = create_engine('sqlite:///Cheers_DB.db')

# データベースに接続
with engine.connect() as connection:
    # トランザクションの開始
    trans = connection.begin()

    try:
        # データの挿入
        connection.execute(text("""
            INSERT INTO events (
                event_id,
                event_name,
                restaurant_id,
                user_id,
                event_date,
                event_time,
                event_charge,
                event_area,
                executive_secretary_id,
                attendees,
                last_update
            ) VALUES (
                :event_id,
                :event_name,
                :restaurant_id,
                :user_id,
                :event_date,
                :event_time,
                :event_charge,
                :event_area,
                :executive_secretary_id,
                :attendees,
                :last_update
            )"""),
            [{"event_id": 1,
            "event_name": "ピタゴラスイッチ忘年会",
            "restaurant_id": "1",
            "user_id": 1,
            "event_date": "2023-12-30",
            "event_time": "21:00",
            "event_charge": 7000,
            "event_area": "大阪駅",
            "executive_secretary_id": 1,
            "attendees": 5,
            "last_update": now
            },
            {"event_id": 2,
            "event_name": "Tech0でピタゴラスイッチを語る会",
            "restaurant_id": "2",
            "user_id": 1,
            "event_date": "2024-1-17",
            "event_time": "21:00",
            "event_charge": 6000,
            "event_area": "大阪駅",
            "executive_secretary_id": 2,
            "attendees": 6,
            "last_update": now
            }]
        )

        # トランザクションのコミット
        trans.commit()
        print("データの挿入に成功しました。")
    except Exception as e:
        # 何か問題が発生した場合、トランザクションをロールバック
        trans.rollback()
        print(f"エラーが発生しました: {e}")

データの挿入に成功しました。

User Tableにデータ追加

In [14]:
from sqlalchemy import create_engine, text
from datetime import datetime

now = datetime.now()

# データベースエンジンの作成
engine = create_engine('sqlite:///Cheers_DB.db')

# データベースに接続
with engine.connect() as connection:
    # トランザクションの開始
    trans = connection.begin()

    try:
        # データの挿入
        connection.execute(text("""
            INSERT INTO users (
                user_id,
                user_name,
                mail_address,
                password,
                company,
                working_area,
                last_update
            ) VALUES (
                :user_id,
                :user_name,
                :mail_address,
                :password,
                :company,
                :working_area,
                :last_update
            )"""),
            [{"user_id": 5,
            "user_name": "川名功泰",
            "mail_address": "",
            "password": "0000",
            "company": "セイコーエプソン",
            "working_area": "長野",
            "last_update": now
            },
            {"user_id": 6,
            "user_name": "坂口綾香",
            "mail_address": "",
            "password": "0000",
            "company": "コクヨ",
            "working_area": "東京都品川区",
            "last_update": now
            },]
        )

        # トランザクションのコミット
        trans.commit()
        print("データの挿入に成功しました。")
    except Exception as e:
        # 何か問題が発生した場合、トランザクションをロールバック
        trans.rollback()
        print(f"エラーが発生しました: {e}")

データの挿入に成功しました。

restaurant Tableにデータ追加

In [16]:
from sqlalchemy import create_engine, text
from datetime import datetime

now = datetime.now()

# データベースエンジンの作成
engine = create_engine('sqlite:///Cheers_DB.db')

# データベースに接続
with engine.connect() as connection:
    # トランザクションの開始
    trans = connection.begin()

    try:
        # データの挿入
        connection.execute(text("""
            INSERT INTO restaurants (
                restaurant_id,
                restaurant_name,
                genre,
                average_charge,
                restaurant_url,
                restaurant_image,
                restaurant_public_evaluation,
                restaurant_address,
                regular_holiday,
                last_update
            ) VALUES (
                :restaurant_id,
                :restaurant_name,
                :genre,
                :average_charge,
                :restaurant_url,
                :restaurant_image,
                :restaurant_public_evaluation,
                :restaurant_address,
                :regular_holiday,
                :last_update
            )"""),
            [{"restaurant_id": 1,
            "restaurant_name": "活海老バル orb ウラなんば",
            "genre": "海鮮、バル、居酒屋",
            "average_charge": "￥3,000～￥3,999",
            "restaurant_url": "https://tabelog.com/osaka/A2701/A270202/27075763/",
            "restaurant_image": "https://tblg.k-img.com/restaurant/images/Rvw/204132/320x320_square_42026959c48608bc871a205ad787ab56.jpg",
            "restaurant_public_evaluation": 3.01,
            "restaurant_address": "大阪市中央区難波千日前2-17",
            "regular_holiday": "無休",
            "last_update": now
            },
            {"restaurant_id": 2,
            "restaurant_name": "北新地 小野肉商店",
            "genre": "焼肉、ホルモン、居酒屋",
            "average_charge": "￥6,000～￥7,999",
            "restaurant_url": "https://tabelog.com/osaka/A2701/A270101/27124023/",
            "restaurant_image": "https://tblg.k-img.com/restaurant/images/Rvw/219899/320x320_square_bd61e5fff3f93264ef39e1359ac2271a.jpg",
            "restaurant_public_evaluation": 3.08,
            "restaurant_address": "大阪市北区曽根崎新地1-2-16",
            "regular_holiday": "日・祝",
            "last_update": now
            },]
        )

        # トランザクションのコミット
        trans.commit()
        print("データの挿入に成功しました。")
    except Exception as e:
        # 何か問題が発生した場合、トランザクションをロールバック
        trans.rollback()
        print(f"エラーが発生しました: {e}")

データの挿入に成功しました。

participant_information　Tableにデータ追加

In [22]:
from sqlalchemy import create_engine, text
from datetime import datetime

now = datetime.now()

# データベースエンジンの作成
engine = create_engine('sqlite:///Cheers_DB.db')

# データベースに接続
with engine.connect() as connection:
    # トランザクションの開始
    trans = connection.begin()

    try:
        # データの挿入
        connection.execute(text("""
            INSERT INTO participant_information (
                uuid,
                event_id,
                user_id,
                attendance,
                restaurant_evaluation,
                restaurant_comment,
                event_evaluation,
                event_comment,
                last_update
            ) VALUES (
                :uuid,
                :event_id,
                :user_id,
                :attendance,
                :restaurant_evaluation,
                :restaurant_comment,
                :event_evaluation,
                :event_comment,
                :last_update
            )"""),
            [{"uuid": 1,
            "event_id": 1,
            "user_id": 1,
            "attendance": 1, # 1:出席, 2:欠席
            "restaurant_evaluation": 3,
            "restaurant_comment": "飲み放題で飲み物が届くのが遅い",
            "event_evaluation": 5,
            "event_comment": "濱田さん楽しそうでよかった！",
            "last_update": now
            },
            {"uuid": 2,
            "event_id": 1,
            "user_id": 2,
            "attendance": 1, # 1:出席, 2:欠席
            "restaurant_evaluation": 4,
            "restaurant_comment": "特になし",
            "event_evaluation": 5,
            "event_comment": "寺尾さんお酒弱すぎ、飲ませちゃいけない",
            "last_update": now
            },
            {"uuid": 3,
            "event_id": 1,
            "user_id": 3,
            "attendance": 1, # 1:出席, 2:欠席
            "restaurant_evaluation": 4,
            "restaurant_comment": "特になし",
            "event_evaluation": 4,
            "event_comment": "三村さん日本酒好きだって",
            "last_update": now
            },
            {"uuid": 4,
            "event_id": 1,
            "user_id": 4,
            "attendance": 1, # 1:出席, 2:欠席
            "restaurant_evaluation": 5,
            "restaurant_comment": "烏賊刺し美味しかった！！！",
            "event_evaluation": 3,
            "event_comment": "酔って記憶がない",
            "last_update": now
            },
            ]
        )

        # トランザクションのコミット
        trans.commit()
        print("データの挿入に成功しました。")
    except Exception as e:
        # 何か問題が発生した場合、トランザクションをロールバック
        trans.rollback()
        print(f"エラーが発生しました: {e}")

データの挿入に成功しました。

Tableの上書き

In [25]:
from sqlalchemy import create_engine, text
from datetime import datetime

# データベースエンジンの作成
engine = create_engine('sqlite:///Cheers_DB.db')

# データベースに接続
with engine.connect() as connection:
    # トランザクションの開始
    trans = connection.begin()

    try:
        # 特定のユーザーのデータを更新
        connection.execute(text("""
            UPDATE participant_information
            SET event_comment = :event_comment
            WHERE user_id = :user_id
        """), {
            "event_comment": "剛さん幹事ありがとう！迷惑おかけしました",
            "user_id": 4  # 更新したいユーザーのID
        })

        # トランザクションのコミット
        trans.commit()
        print("データの更新に成功しました。")
    except Exception as e:
        # エラーが発生した場合、トランザクションをロールバック
        trans.rollback()
        print(f"更新に失敗しました: {e}")

データの更新に成功しました。

JupyterLabでFlaskの出力を確認する方法

In [12]:
import requests
requests.get("http://127.0.0.1:5000")

In [14]:
import requests
requests.get("http://127.0.0.1:5000/users").text

'\n  <tr>\n    <td>1</td>\n    <td>None</td>\n    <td>0</td>\n  </tr>\n\n  <tr>\n    <td>2</td>\n    <td>None</td>\n    <td>0</td>\n  </tr>\n\n  <tr>\n    <td>3</td>\n    <td>tear0mark2@gmail.com</td>\n    <td>0</td>\n  </tr>\n\n  <tr>\n    <td>4</td>\n    <td>None</td>\n    <td>0</td>\n  </tr>\n\n  <tr>\n    <td>5</td>\n    <td></td>\n    <td>0000</td>\n  </tr>\n\n  <tr>\n    <td>6</td>\n    <td></td>\n    <td>0000</td>\n  </tr>\n'